<div class="new-team" novalidate>
    <form name="addTeamForm">
        <div class="form-group">
            <input type="text" ng-model="newTeam.name" name="teamName" placeholder="Add new team"
                   class="add form-control" required unique="teams" ng-pattern=/^[a-zA-Z0-9]*$/ />
            <button ng-click="addTeam(this, teamName)"  ng-disabled="addTeamForm.$invalid"
                    class="add btn btn-primary glyphicon glyphicon-plus">
            </button>
        </div>
        <div ng-show="addTeamForm.teamName.$dirty && addTeamForm.teamName.$invalid">
            <span ng-show="addTeamForm.teamName.$error.pattern" class="validation-error-message">
                Team can contain only letters and digits.
            </span>
            <span ng-show="addTeamForm.teamName.$error.unique" class="validation-error-message">
                Team with such name already exists.
            </span>
        </div>

    </form>
</div>

<div>
    <div ng-repeat="team in teams" class="item" ng-class="{'active': team==currentTeam}">
        <div class="link title border"
             ng-click="selectTeam(team)">
            <span>{{team.name}}</span>
        </div>
        <div collapse="team!=currentTeam" class="border">
            <div ng-repeat="member in team.members" class="tags">
                <tag model="member" on-remove="removeMember(member)"></tag>
            </div>
            <div ng-if="team.members.length==0" class="empty">
                There are no any members in the team
            </div>
        </div>
    </div>
</div>

