<!DOCTYPE html>
<html ng-app="angular-js-course-app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Teams manager</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="common/common.css">
    <link rel="stylesheet" href="app/app.css">
    <!--<% styles.forEach( function ( file ) { %>-->
    <!--<link rel="stylesheet" type="text/css" href="<%= file %>"/><% }); %>-->
</head>
<body ng-cloak>

<div>

    <div ui-view></div>

</div>
<!--<% scripts.forEach( function ( file ) { %>-->
<!--<script type="text/javascript" src="<%= file %>"></script><% }); %>-->

<script type="text/javascript" src="../vendor/angular/angular.js"></script>
<script type="text/javascript" src="../vendor/angular-ui-router/angular-ui-router.js"></script>
<script type="text/javascript" src="../vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/info/components/components.js"></script>
<script type="text/javascript" src="app/info/components/columnSort/column-sort.js"></script>
<script type="text/javascript" src="app/info/components/postRender/post-render.js"></script>
<script type="text/javascript" src="app/info/components/interval/interval.js"></script>
<script type="text/javascript" src="app/info/info.js"></script>
<script type="text/javascript" src="app/info/infoCtrl.js"></script>
<script type="text/javascript" src="app/search/search.js"></script>
<script type="text/javascript" src="app/search/searchCtrl.js"></script>
<script type="text/javascript" src="app/layout/tabs/tabs.js"></script>
<script type="text/javascript" src="app/layout/tabs/tabsCtrl.js"></script>
<script type="text/javascript" src="app/layout/teams/teams.js"></script>
<script type="text/javascript" src="app/layout/teams/teamsCtrl.js"></script>
<script type="text/javascript" src="common/array-helper.js"></script>
<script type="text/javascript" src="common/common.js"></script>
<script type="text/javascript" src="common/components/components.js"></script>
<script type="text/javascript" src="common/components/memberTitle/member-title.js"></script>
<script type="text/javascript" src="common/components/tag/tag.js"></script>
<script type="text/javascript" src="common/components/unique-validator/unique.js"></script>
<script type="text/javascript" src="common/features/features.js"></script>
<script type="text/javascript" src="common/features/member/member.js"></script>
<script type="text/javascript" src="common/features/member/memberModel.js"></script>
<script type="text/javascript" src="common/features/member/membersService.js"></script>
<script type="text/javascript" src="common/features/team/team.js"></script>
<script type="text/javascript" src="common/features/team/teamModel.js"></script>
<script type="text/javascript" src="common/features/team/teamsService.js"></script>
</body>
</html>